<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Register</title>
</head>

<body>
  <!-- create form register with button -->
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form action="http://localhost:3000/api/user/register" method="POST">
              <div class="form-label-group mb-3">
                <label for="f_name">Front Name</label>
                <input type="text" name="f_name" id="f_name" class="form-control mt-1" placeholder="Your Front Name"
                  required autofocus>
              </div>

              <div class="form-label-group mb-3">
                <label for="l_name">Last Name</label>
                <input type="text" name="l_name" id="l_name" class="form-control mt-1" placeholder="Your Last Name"
                  required autofocus>
              </div>


              <div class="form-label-group mb-3">
                <label for="inputEmail">Email Address</label>
                <input type="email" name="email" id="inputEmail" class="form-control mt-1" placeholder="Email Address"
                  required autofocus>
              </div>

              <div class="form-label-group mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mt-1"
                  placeholder="Password" required>
              </div>


              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
              <hr class="my-4">
              <div class="text-center">
                <a class="small" href="http://localhost:3000/login">Have account? Login here</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
</body>

</html>