<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">


    <tbody>
      <tr>
        <td align="center" bgcolor="#e9ecef">

          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
            <tbody>
              <tr>
                <td align="center" valign="top" style="padding:36px 24px">
                  <a href="https://sendgrid.com" style="display:inline-block" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://sendgrid.com&amp;source=gmail&amp;ust=1654767585378000&amp;usg=AOvVaw2YgZiUdhjPh-qYPqCEjH9e">

                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>



      <tr>
        <td align="center" bgcolor="#e9ecef">

          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
            <tbody>
              <tr>
                <td align="left" bgcolor="#ffffff"
                  style="padding:36px 24px 0;font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;border-top:3px solid #d4dadf">
                  <h1 style="margin:0;font-size:32px;font-weight:700;letter-spacing:-1px;line-height:48px">Reset Your
                    Password</h1>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>



      <tr>
        <td align="center" bgcolor="#e9ecef">

          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">


            <tbody>
              <tr>
                <td align="left" bgcolor="#ffffff"
                  style="padding:24px;font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px">
                  <p style="margin:0">Tap the button below to reset your member account password. If you didn't request
                    a new password, you can safely delete this email.</p>
                </td>
              </tr>



              <tr>
                <td align="left" bgcolor="#ffffff">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" bgcolor="#ffffff" style="padding:12px">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td align="center" bgcolor="#1a82e2" style="border-radius:6px">
                                  <a style="display:inline-block;padding:16px 36px;font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:16px;color:#ffffff;text-decoration:none;border-radius:6px"
                                    href=<%=link %> >Reset
                                    Password</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>



              <tr>
                <td align="left" bgcolor="#ffffff"
                  style="padding:24px;font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;border-bottom:3px solid #d4dadf">
                  <p style="margin:0">Best regards,<br><strong>Binar Academy</strong></p>
                </td>
              </tr>


            </tbody>
          </table>

        </td>
      </tr>



      <tr>
        <td align="center" bgcolor="#e9ecef" style="padding:24px">

          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">


            <tbody>
              <tr>
                <td align="center" bgcolor="#e9ecef"
                  style="padding:12px 24px;font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#666">

                </td>
              </tr>



              <tr>
                <td align="center" bgcolor="#e9ecef"
                  style="padding:12px 24px;font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#666">
                  <p style="margin:0">Binar Academy</p>
                  <p style="margin:0">Infini Space, Jl. Kabupaten, Nusupan, Trihanggo, Gamping, Sleman Regency, Special
                    Region of Yogyakarta 55291</p>
                </td>
              </tr>


            </tbody>
          </table>

        </td>
      </tr>


    </tbody>
  </table>
</body>

</html>