<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css">
  <style type="text/css">
    a {
      color: #4285F4;
    }
  </style>
  <title>Welcome to Binar Family!</title>
</head>

<body
  style="background-color: #F6F7F9; margin:0; padding:0; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; color: #202124;">
  <table width="100%" border="0" cellspacing="0" cellpadding="15">
    <tr>
      <td width="100%" align="center" style="background-color: #F6F7F9;">
        <table width="600" border="0" cellpadding="0" cellspacing="0"
          style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; overflow: hidden;">
          <tr>
            <td>
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td valign="middle"
                      style="padding: 0 0 15px; font-family: 'Open Sans', Arial, sans-serif !important;">
                      <a href="https://www.umm.ac.id/"
                        style="font-size: 12px; color: #6f6f6f !important; padding: 1px 0; text-decoration: none !important;">
                        Binar Academy x Universitas Muhammadiyah Malang
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td
              style="width: 600px; height: 136px; vertical-align: middle; border-bottom: 0px solid #F6F7F9;background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_fill,dpr_2.0,f_auto,g_center,h_135,q_auto:eco,w_600/v1/gcs/platform-data-dsc/contentbuilder/email_header.png);background-color: #fff;  border-top-right-radius: 4px; border-top-left-radius: 4px;background-size: cover;">
              <table border="0" cellpadding="0" cellspacing="20" width="100%" style="width: 100%;">
                <tr>
                  <td style="vertical-align: middle; text-align: center; ">
                    <div style="display: inline-block;">
                      <a href="https://www.binaracademy.com/" style="text-align: center; display: block;">
                        <img
                          src="https://global-uploads.webflow.com/5e70b9a791ceb781b605048c/6152ae609d46491e37aa9af9_logo_binar-academy_horizontal_magenta_bg-transparan.png"
                          alt="Binar Academy" border="0" height="80">
                      </a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr style="background-color: #fff;">
            <td>
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td>
                                      <table width="100%" style="background:#fff" border="0" cellpadding="0"
                                        cellspacing="0">
                                        <tbody>
                                          <tr>
                                            <td width="100%" style="font-size:16px;line-height:1.5em;padding:0 30px">
                                              <br /><span style="font-size:15px">Welcome <%= name %>,
                                              </span><br /><br /><span style="font-size:15px">Thanks
                                                for joining Binar Academy x Universitas Muhammadiyah Malang! Stay tuned
                                                for upcoming
                                                bootcamp, course, and events!</span><br /><br /><span
                                                style="font-size:15px">In the meantime,
                                                visit the main page to learn more about <a
                                                  href="https://www.binaracademy.com/"
                                                  style="text-decoration: none;">Binar Academy</a> and to see
                                                interesting
                                                promos you can get.</span><br /><br /><span style="font-size:15px">
                                                Want to learn about Software Development Ecosystem for FREE?<br />
                                                Let's download Binar Academy App now on <a
                                                  href="https://apps.apple.com/id/app/binar-academy/id1509751603?l=id"
                                                  style="text-decoration: none;">App Store</a> and <a
                                                  href="https://play.google.com/store/search?q=binar&c=apps&hl=in&gl=US"
                                                  style="text-decoration: none;">Playstore</a>!<br /><br />
                                              </span><br /><span style="font-size:15px"><strong>
                                                  <div style="display:block;text-align:center;margin:20px"><a
                                                      style="background-color:#923393;padding:15px 20px;text-decoration:none;color:#fff;border-radius:4px;display:inline-block;font-size:14px;font-weight:500"
                                                      href="https://www.binaracademy.com/">View
                                                      main page</a></div>
                                                </strong></span><br />
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table width="100%" style="background:#fff" border="0" cellpadding="0"
                                        cellspacing="0">
                                        <tbody>
                                          <tr>
                                            <td width="100%" style="font-size:16px;line-height:1.5em;padding:0 30px">
                                              <br /><span style="font-size:12px">You are receiving this email because
                                                you have signed up as a member of a Binar Academy Community. To change
                                                your email preferences, visit <a style="color:#4285F4"
                                                  href="https://www.binaracademy.com/">Binar
                                                  Academy</a>.</span><br /><br />
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>